.popup{
    height: 100vh;
    width: 100%;
    background: rgba($color-black, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
 

    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background: $color-white;
        padding: 5rem;
        transition: all .8s;
        border-radius: 3px;
        box-shadow: 0 1rem 2rem rgba($color-black, .5);
    }

    &__link{
        height: 10vh;
        position: relative;

        .btn{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &:target{
        opacity: 1;
        visibility: visible;
    }

    &:target &__content{
        transform: translate(-50%, -50%) scale(1);
    }

    &__close{
        font-size: 4rem;
        position: absolute;
        top: .2rem;
        right: 2rem;
        cursor: pointer;
    }

    &__close-link{
        &:link, &:visited{
            text-decoration: none;
            color: $color-grey-dark;
        }
    }
}